.wrapper {border-style: solid;
border-color: blueviolet;
padding: 20px 10px 20px 10px;
background-color: grey;
font-family: 'Times New Roman', Times, serif;
font-size: medium;
font-weight: 500;
width: 150px;
height: 50px;}


#Gliscor {border-style: dashed;border-color: aquamarine;}

#Meloetta {border-style: dotted; border-color: coral;}
